body {
    background: #eeeeee;

}
#ib {
    background-image: url();
}


#lb {
    background: ;
}


#btn {
    color: #ffffff;
    background: #337ab7;
    padding: 5px;
    margin-left: 68px;
}

body {
    background:;
}